html, body {
    height: 100%;
    margin: 0;
}

body{
    background-color: #D7C0AE ;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.card{
    border: 0;
}

.thumbnail{
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
}
table th{
    width: auto;
}
footer{
    text-align: center; 
    padding: 20px; 
    background-color: #f1f1f1; 
    margin-top: auto;
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.logo {
    text-align: center;
    display: flex;
    align-items: center;
}
.logo img {
    height: 50px;
    margin-right: 15px;
}
.company-name {
    font-size: 24px;
    font-weight: bold;
}
.table{
    background-color: whitesmoke
}
h1{
    color:white;
}
#about-row{
    border: 2px solid #000;
    margin-top: 10px;
}
img{
    text-align: center;
    vertical-align: middle;
}